* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* #4C4B16
#898121
#E7B10A
#F7F1E5 */
}
.container {
  width: 1450px;
  height: 100vh;
  background-image: url(./img/AdobeStock_189010662_Preview.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
}
.header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;

  /* border: 2px solid rgb(179, 0, 0); */
  color: #f7f1e5;

  font-size: 30px;
}
.nav {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  border-bottom: 3px solid #b9b72867;
  font-size: 20px;
  margin: auto;

  padding: 30px;
  margin-top: 20px;
}


.navright {
  padding-right: 10px;
  gap: 30px;
}
.Video {
  color: rgb(255, 255, 255);

  font-size: 22px;
  font-weight: bold;
  background-color: rgb(255, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 20px;
}
.nav p {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: rgb(222, 223, 158);
  font-size: 25px;
}
.amblem {
  width: 80px;
  border-radius: 60px;
  margin: 0;
  padding: 0;
}
.subinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%; /* /* border: 2px solid rgb(179, 0, 0);  */
  color: white;
  padding: 20px;
  padding-right: 0;
  font-size: 20px;
  margin-top: 1rem;
  margin: auto;
}
.subinfo .right {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  font-size: 20px;
  padding-right: 70px;
}

.subinfo .left {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  color: #f9b832;
}
.C {
  font-size: 28px;
  color: rgb(252, 3, 3);
}
.location {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; /* border: 2px solid rgb(179, 0, 0); */
  color: white;
  padding: 20px;
  padding-right: 0;
  font-size: 20px;
}

.airleft {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  color: white;
  padding: 20px;
  padding-right: 0;
  font-size: 20px;

  color: rgb(43, 61, 10);
}
.detail {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.town {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
.time {
  font-size: 15px;
  opacity: 0.7;
}
.degrees {
  font-size: 70px;
  margin-bottom: 10px;
  color: #f9b832;
}
.cloud {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.rain {
  font-size: 15px;
  opacity: 0.7;
}
.today {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
}
